<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span style="font-size: 22px; color: rgb(39, 38, 38);">
                        <i class="fas fa-user"></i>
                    </span>
                    <span id="logged-in-user-full-name"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><span class="dropdown-item" id="user-drop-down-profile">Profile</span></li>
                    <li><span class="dropdown-item" id="user-drop-down-change-password">Change Password</span></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><span class="dropdown-item" id="user-drop-down-log-out">Log out</span></li>
                </ul>
                </li>
            </ul>
        </form>
        </div>
    </div>
</nav>

<div class="profile-modal modal">
  <div class="backdrop">

  </div>
  <div class="modal-container">
    User Profile:
    
    <div class="profile-modal-container"></div>

    <div>
      <button id='profile-modal-close-btn'>Close</button>
    </div>
  </div>

</div>

<div class="user-drop-change-password-modal modal">
  <div class="backdrop">

  </div>
  <div class="modal-container">
    Change Password:
    
    <label for="user-drop-down-change-password-input">New Password</label>
    <input type="password" id="user-drop-down-change-password-input">
    
    <label for="user-drop-down-repeat-change-password">Re-type New Password</label>
    <input type="password" id="user-drop-down-repeat-change-password">
    <span class='error-message' id='user-drop-down-password-error'></span>

    <div>
      <button id='user-drop-change-password-modal-cancel-btn'>cancel</button>
      <button id='user-drop-change-password-modal-confirm-btn'>confirm</button>
    </div>
  </div>

</div>